body{
  margin:0;
  padding:0;
  background: #7ca6c9;
}
h1 {
  text-align: center;
  font-size: 2rem;
  margin-top: 20px;
  color: #2c3e50;
}

.flashes {
  list-style: none;
  padding: 0;
  margin: 20px auto;
  max-width: 500px;
  text-align: center;
}

.flashes li {
  color: green;
  font-weight: bold;
  margin-bottom: 10px;
}


form {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 6px;
  color: #34495e;
}


input[type="text"],
textarea,
input[type="file"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 16px;
  font-size: 1rem;
}


button[type="submit"] {
  background-color: green;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #218c74;
}


a {
  display: block;
  text-align: center;
  margin-top: 20px;
  color: #2980b9;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}