{% extends 'base.html' %}
{% block body %}
<h2>{{ cls.class_name }}</h2>

{% if current_user.role == 'teacher' %}
  <a href="{{ url_for('upload_note', class_id=cls.id) }}">Upload Note</a><br>
  <a href="{{ url_for('create_task', class_id=cls.id) }}">Create Task</a><br>
{% endif %}

<h3>Notes:</h3>
<ul>
{% for n in notes %}
  <li><a href="{{ url_for('static', filename='uploads/' ~ n.filename) }}">{{ n.title }}</a></li>
{% endfor %}
</ul>

<h3>Tasks:</h3>
<ul>
{% for t in tasks %}
  <li>{{ t.title }} - {{ t.description }}
    {% if current_user.role == 'student' %}
      <a href="{{ url_for('submit_task', task_id=t.id) }}">Submit</a>
    {% endif %}
  </li>
{% endfor %}
</ul>

{% endblock %}
